extends _template

block content
    .wrapper
        .container
            .header 
                h2.title Купальники
                ul.menu__list
                    li.menu__item
                        a.navigation-link(href='#') Купальники
                    li.menu__item
                        a.navigation-link(href='#') О нас
                    li.menu__item
                        a.navigation-link(href='#') Оплата и доставка
                    li.menu__item
                        a.navigation-link(href='#') Контакты
                .phone +3 8 066 841 18 92        
            .main
                h3.title__name Интернет-магазин купальников
                h1.title__big 
                    | Стильные купальники 
                    br
                    | для незабываемого отдыха
                h2.title__small Лучшие купальники по самым лучшим ценам!
                button.button 
                    img.button__pic(src='./img/favicon.ico')
                    | Купить в один клик!
                .content-shop
                     .content-shop__item
                        .icon-star
                            img.icon(src='./img/star.svg')
                            | Низкие цены
                     .content-shop__item
                        .icon-star
                            img.icon(src='./img/star.svg')
                            | Доставка УкрПочтой бесплатно   
                     .content-shop__item
                        .icon-star
                            img.icon(src='./img/star.svg')
                            | Большой выбор   
                     .content-shop__item
                        .icon-star
                            img.icon(src='./img/star.svg')
                            | Все размеры      
            .submain Content
            .footer Footer Footer Footer Footer Footer Footer Footer FooterFooter Footer Footer Footer Footer Footer Footer FooterFooter Footer Footer Footer Footer Footer Footer FooterFooter Footer Footer Footer Footer Footer Footer FooterFooter Footer Footer Footer Footer Footer Footer FooterFooter Footer Footer Footer Footer Footer Footer FooterFooter Footer Footer Footer Footer Footer Footer Footer
 

