extends _template

block content
    .wrapper
        .container
            .header 
                h2.title 
                    a.menu__link Купальники                
                ul.menu__list
                    li.menu__item
                        a.navigation-link(href='#one') Купальники
                    li.menu__item
                        a.navigation-link(href='#two') О нас
                    li.menu__item
                        a.navigation-link(href='#three') Оплата и доставка
                    li.menu__item
                        a.navigation-link(href='#four') Контакты
                .phone +3 8 066 841 18 92       
            .main
                h3.title__name Интернет-магазин купальников
                h1.title__big 
                    | Стильные купальники 
                    br
                    | для незабываемого отдыха
                h2.title__small Купальники по самым лучшим ценам!
                //button.button 
                    img.button__pic(src='./img/favicon.ico')
                    a.navigation-link(href='#form')| Купить в один клик!
                .content-shop
                     .content-shop__item
                        .icon-star
                            img.icon(src='./img/star.svg')
                        p.content__text Низкие цены
                     .content-shop__item
                        .icon-star_iconed
                            img.icon(src='./img/star.svg')
                        p.content__text Доставка УкрПочтой бесплатно   
                     .content-shop__item
                        .icon-star
                            img.icon(src='./img/star.svg')
                        p.content__text Большой выбор   
                     .content-shop__item
                        .icon-star
                            img.icon(src='./img/star.svg')
                        p.content__text Все размеры 
            h3.title__subname#one Товары, которые вас могут заинтересовать                     
            .submain                
                .section
                    .section__shop
                        img.section__pic(src='./img/wear1-1.png')
                        p.section__price 520 грн.
                        p.section__price_nonprice 460 грн.
                        button.button_price 
                            a.button__btn(href='#win1') Подробнее
                        a#win1.overlay(href='#x')    
                        include popup   
                    .section__shop
                        img.section__pic(src='./img/wear2-1.png')
                        p.section__price 520 грн.
                        p.section__price_nonprice 460 грн.
                        button.button_price 
                            a.button__btn(href='#win2') Подробнее
                        a#win2.overlay(href='#x')    
                        include popup2    
                    .section__shop
                        img.section__pic(src='./img/wear3-1.png')
                        p.section__price 520 грн.
                        p.section__price_nonprice 460 грн.
                        button.button_price 
                            a.button__btn(href='#win3') Подробнее
                        a#win3.overlay(href='#x')    
                        include popup3
                    .section__shop
                        img.section__pic(src='./img/wear4-1.png')
                        p.section__price 520 грн.
                        p.section__price_nonprice 460 грн.
                        button.button_price 
                            a.button__btn(href='#win4') Подробнее
                        a#win4.overlay(href='#x')    
                        include popup4     
                    .section__shop
                        img.section__pic(src='./img/wear5-1.png')
                        p.section__price 520 грн.
                        p.section__price_nonprice 460 грн.
                        button.button_price 
                            a.button__btn(href='#win5') Подробнее
                        a#win5.overlay(href='#x')    
                        include popup5                                    
                      
            .second-section#two
                .backgrounds                    
                    .background.layer-3
                        .head
                    .background.layer-2
                        .head
                    .background.layer-1
                        .head      
                        .text__section
                            p
                                | Создай свой
                                br
                                | неповторимый образ!
                                br
                        img.img__section(src='./img/wear2.png')
            .third-section
                .third-section__wrapper#three
                    h2.title__third Доставка и оплата
                    p.paragraph Оплата online картами VISA, MasterCard.
                    p.paragraph Доставка осуществляется УкрПочтой бесплатно. После оплаты товара мы отправляем Ваш заказ ценной бандеролью 1-го класса.
                    p.paragraph Наш магазин всегда идет на встречу клиентам и решает все возникшие вопросы. Будьте уверены, что Вы не останетесь наедине со своей проблемой, мы обязательно ее решим за Вас.
                    h2.title__third Об интернет-магазине
                    p.paragraph Мы рады приветствовать Вас в нашем интернет-магазине! Наша компания специализируется на продаже купальников и пляжной одежды известных брендов от лучших европейских производителей.
                    p.paragraph Каждая женщина хочет почувствовать себя уникальной, создать свой индивидуальный и неповторимый стиль. Мы предлагаем вам смелые и яркие купальники моделей 2017 года, которые подчеркнут естественную красоту и сделают незабываемые мгновения под летним солнцем еще приятнее!
                    p.paragraph Отличный выбор на любой вкус и по самым низким ценам.                                       
            .footer#four
                .footer-foot
                    h2.title-footer Купальники
                    p.foot Сайт разработан командой TookieTookie
                    ul.contacts
                        li.contacts-item itemskiev@gmail.com +3 8 066 841 18 92
                        li.contacts-item Пн-Пт с 9:00 - 19:00, Сб с 10:00 - 18:00                        
                        li.contacts-item Вс выходной
                        li.contacts-item Киев, ул. Мечникова, 2 БЦ "Парус"
            