extends _template

block content
    .wrapper
        .container
            .header 
                h2.title Купальники
                ul.menu__list
                    li.menu__item
                        a.navigation-link(href='#one') Купальники
                    li.menu__item
                        a.navigation-link(href='#two') О нас
                    li.menu__item
                        a.navigation-link(href='#three') Оплата и доставка
                    li.menu__item
                        a.navigation-link(href='#four') Контакты
                .phone +3 8 066 841 18 92        
            .main
                h3.title__name Интернет-магазин купальников
                h1.title__big 
                    | Стильные купальники 
                    br
                    | для незабываемого отдыха
                h2.title__small Лучшие купальники по самым лучшим ценам!
                button.button 
                    img.button__pic(src='./img/favicon.ico')
                    | Купить в один клик!
                .content-shop
                     .content-shop__item
                        .icon-star
                            img.icon(src='./img/star.svg')
                            p.content__text Низкие цены
                     .content-shop__item
                        .icon-star
                            img.icon(src='./img/star.svg')
                            p.content__text Доставка УкрПочтой бесплатно   
                     .content-shop__item
                        .icon-star
                            img.icon(src='./img/star.svg')
                            p.content__text Большой выбор   
                     .content-shop__item
                        .icon-star
                            img.icon(src='./img/star.svg')
                            p.content__text Все размеры 
            h3.title__subname#one Товары, которое вас могут заинтересовать                     
            .submain                
                .section
                    .section__shop
                        img.section__pic(src='http://placekitten.com/g/250/250')
                        p.section__price 330 грн.
                        p.section__price_nonprice 660 грн.
                        button.button_price 
                            a.button__btn(href='#win1') Подробнее
                        a#win1.overlay(href='#x')    
                        include popup
   
                    .section__shop
                        img.section__pic(src='http://placekitten.com/g/250/250')
                        p.section__price 330 грн.
                        p.section__price_nonprice 660 грн.
                        button.button_price 
                            a.button__btn(href='#win1') Подробнее
                        a#win2.overlay(href='#x')    
                        include popup    
                    .section__shop
                        img.section__pic(src='http://placekitten.com/g/250/250')
                        p.section__price 330 грн.
                        p.section__price_nonprice 660 грн.
                        button.button_price 
                            a.button__btn(href='#win1') Подробнее
                        a#win3.overlay(href='#x')    
                        include popup    
                    .section__shop
                        img.section__pic(src='http://placekitten.com/g/250/250')
                        p.section__price 330 грн.
                        p.section__price_nonprice 660 грн.
                        button.button_price 
                            a.button__btn(href='#win1') Подробнее
                        a#win4.overlay(href='#x')    
                        include popup    
                .section        
                    .section__shop
                        img.section__pic(src='http://placekitten.com/g/250/250')
                        p.section__price 330 грн.
                        p.section__price_nonprice 660 грн.
                        button.button_price 
                            a.button__btn(href='#win1') Подробнее
                        a#win5.overlay(href='#x')    
                        include popup    
                    .section__shop
                        img.section__pic(src='http://placekitten.com/g/250/250')
                        p.section__price 330 грн.
                        p.section__price_nonprice 660 грн.
                        button.button_price 
                            a.button__btn(href='#win1') Подробнее
                        a#win6.overlay(href='#x')    
                        include popup    
                    .section__shop
                        img.section__pic(src='http://placekitten.com/g/250/250')
                        p.section__price 330 грн.
                        p.section__price_nonprice 660 грн.
                        button.button_price 
                            a.button__btn(href='#win1') Подробнее
                        a#win7.overlay(href='#x')    
                        include popup    
                    .section__shop
                        img.section__pic(src='http://placekitten.com/g/250/250')
                        p.section__price 330 грн.
                        p.section__price_nonprice 660 грн.
                        button.button_price 
                            a.button__btn(href='#win1') Подробнее
                        a#win8.overlay(href='#x')    
                        include popup    
                .section
                    .section__shop
                        img.section__pic(src='http://placekitten.com/g/250/250')
                        p.section__price 330 грн.
                        p.section__price_nonprice 660 грн.
                        button.button_price 
                            a.button__btn(href='#win1') Подробнее
                        a#win9.overlay(href='#x')    
                        include popup    
                    .section__shop
                        img.section__pic(src='http://placekitten.com/g/250/250')
                        p.section__price 330 грн.
                        p.section__price_nonprice 660 грн.
                        button.button_price 
                            a.button__btn(href='#win1') Подробнее
                        a#win10.overlay(href='#x')    
                        include popup    
                    .section__shop
                        img.section__pic(src='http://placekitten.com/g/250/250')
                        p.section__price 330 грн.
                        p.section__price_nonprice 660 грн.
                        button.button_price 
                            a.button__btn(href='#win1') Подробнее
                        a#win11.overlay(href='#x')    
                        include popup    
                    .section__shop
                        img.section__pic(src='http://placekitten.com/g/250/250')
                        p.section__price 330 грн.
                        p.section__price_nonprice 660 грн.
                        button.button_price 
                            a.button__btn(href='#win1') Подробнее 
                        a#win12.overlay(href='#x')    
                        include popup    
                      
            .second-section#two  
                p.second-section__text Создай свой неповторимый образ!
            .third-section
                .third-section__wrapper#three
                    h2.title__third Доставка и оплата
                    p.paragraph Оплата online картами VISA, MasterCard.
                    p.paragraph Доставка осуществляется УкрПочтой бесплатно. После оплаты товара мы отправляем Ваш заказ ценной бандеролью 1-го класса.
                    p.paragraph Наш магазин всегда идет на встречу клиентам и решает все возникшие вопросы. Будьте уверены, что Вы не останетесь наедине со своей проблемой, мы обязательно ее решим за Вас.
                    h2.title__third Об интернет-магазине
                    p.paragraph Мы рады приветствовать Вас в нашем интернет-магазине!
                    p.paragraph Каждая женщина может почувствовать себя уникальной, может дополнить свой образ изысканными украшениями и создать свой индивидуальный и неповторимый стиль. Все изделия изготавливаются вручную, каждое изделие становится шедевром. Используемые материалы - серебро 925 пробы, муранское стекло, эмаль, кожа, драгоценные и искусственные камни.
                    p.paragraph Любой браслет может быть прекрасным подарком, большой ассортимент дает возможность сделать отличный выбор на любой вкус и по самым низким ценам.                                       
            .footer#four
                .footer-foot
                    h2.title-footer Купальники
                    p.foot Сайт разработан командой TookieTookie
                    ul.contacts
                        li.contacts-item vintorp.ua@gmail.com +3 8 066 841 18 92 
                        li.contacts-item Пн-Пт с 9:00 -19:00
                        li.contacts-item Сб с 10:00 - 18:00
                        li.contacts-item Вс выходной
                        li.contacts-item Киев, ул. Мечникова, 2 БЦ "Парус"
            