#slider
	input#slide1(type='radio', name='slider', checked='')
	input#slide2(type='radio', name='slider')
	input#slide3(type='radio', name='slider')
	input#slide4(type='radio', name='slider')
	input#slide5(type='radio', name='slider')
	#slides
		#overflow
			.inner
				.page
					img(src='http://placehold.it/588x250', alt='')
				.page
					img(src='http://placehold.it/588x250', alt='')
				.page
					img(src='http://placehold.it/588x250', alt='')
				.page
					img(src='http://placehold.it/588x250', alt='')
				.page
					img(src='http://placehold.it/588x250', alt='')
	#controls
		label(for='slide1')
		label(for='slide2')
		label(for='slide3')
		label(for='slide4')
		label(for='slide5')
	#active
		label(for='slide1')
		label(for='slide2')
		label(for='slide3')
		label(for='slide4')
		label(for='slide5')
                      
