* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%; 
}

body{
  height: 100%;
  margin: 0;
  padding: 0;  
  font-family: 'Roboto', Arial,sans-serif;
  line-height: 1.42;
  display: flex;
  outline: none;
}

.wrapper{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;    
}

.wrapper > * {
  
  flex: 1 100%;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.container{
  width: 60%;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.header{
  z-index: 10;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  
}

.title{
  flex: 1;
  margin-left: 2%;
}

.menu__list{
  flex: 2;
  
  display: flex;
   
}

.phone{
  flex: 1;
}

.menu__item{
  margin: 15px;
}

.navigation-link{
  text-decoration: none;
  color: #ccc;
}


.main{
      
   display: flex;
   flex-direction: column;   
   min-height: 500px;
   margin-top: 80px;
   width: 100%;   
   background: url(../img/girl.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.title__name{
  color: #fff;
  padding-top: 15px;
  text-align: center;
  margin-bottom: 20px;
  
}

.title__big{
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.title__small{
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
}

.button{
  width: auto;
  margin: 0 auto;
  border-radius: 25px;
  border: 2px solid #fff;
  cursor: pointer;
  padding: 10px;
  color: #fff;
  margin-bottom: 50px;
  background: transparent;

  &:hover{
    background: cadetblue;
    border: 2px solid cornflowerblue;
  }
}

.button__pic{
  margin-right: 5px;
}

.content-shop{
  width: 80%;
  display: flex;
  justify-content: center;  
  margin: 0 auto;
  
}

.content-shop__item{
  min-width: 15%;
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

.content__text{
  color: #fff;
  float: right;
  text-align: center;
  margin-top: 10px;
  margin-left: 5px;
}

.icon{
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.submain{
  text-align: center;
  margin: 10px auto auto;
  height: auto;
  max-width: 1300px;
  background-color: white;
  padding: 10px 10px 10px;   
  
}

.title__subname{
  text-align: center;
  width: 100%;
  padding-top: 20px;
  font-size: 25px;
  
  text-transform: uppercase;
}

.section{
  text-align: center;
  margin: 50px auto auto;
  height: auto;
  width: 100%;
  background-color: white;
  padding: 10px 10px 10px;   
}

.section__shop{
  display: inline-block;
	margin: 0 20px;
}

.section__price{
  text-align: center;
  color: red;

  &_nonprice{
    text-align: center;
    text-decoration: line-through;
  }
}

.button_price{
  margin: 0 auto;
  width: auto;
  cursor: pointer;
  padding: 7px;
  border-radius: 5px;
  border: 1 px solid #ccc; 
  background: transparent;
  

  &:hover{
    background: #ccc;
  }
}

.button__btn{
  text-decoration: none;
  color: black;
}

.second-section {
  background: url(../img/wear.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;   
  min-height: 700px;
  margin-bottom: 80px;    
}

.second-section__text {
  color: #fff;
  text-align: right;
  margin-right: 150px;
  position: relative;
  margin-top: 100px;
  font-size: 30px;
}

.third-section{
  margin-bottom: 100px;
  width: 100%;
  
}

.third-section__wrapper{
  width: 80%;
  margin: 0 auto;
}

.title__third{
  text-align: center;
  padding: 20px;
}

.paragraph{
  margin-bottom: 10px;
}

.footer{   
  width: 100%;  
  background: dimgray;  
  height: auto;  
}

.footer-foot{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 70%;
  margin: 0 auto;
}

.foot{
  flex: 1; 
  margin-bottom: 70px;  
}

.title-footer{
  flex: 1;
  margin-bottom: 70px;
}

.contacts{
  flex: 1;  
  text-align: right;
  margin-right: 50px;
  padding-top: 20px;
}

.fotorama{
  min-height: 600px;
}




@import 'menu';
@import 'popup';
@import 'slider';
@import "foundation.css";





